.autosearch_input { 
  border: 1px #888 inset; 
  background: #fff; 
  cursor: text; 
  width: 20em; 
  display: block; 
  float: left; 
  clear: none; 
  padding-left: 2px; 
  position: relative; 
}

.autosearch_result { 
  display: none; 
}
.autosearch_input form { 
  display: inline; 
}

.search_box .alert { 
  padding-left: 7px; 
  background: transparent url(/images/pro/arrow.gif) no-repeat center left; 
} 

.autosearch_input .desc { 
  background: #eea; 
  padding: 2px; 
  color: #000; 
}

.autosearch_input .entry { 
  padding: 3px; 
  border: 0; 
  width: 95%; 
}

.autosearch_input .remove { 
  font-weight: bold; 
  padding-left: 0.4em; 
  color: #039; 
}

.autosearch_input .search_button { 
  position: absolute; 
  bottom: 1px; 
  right: 2px; 
  cursor: pointer; 
  background: transparent; 
  z-index: 99; 
}

.search_box { 
  font-size: 80%;
  position: absolute; 
  z-index: 1000; 
  display: none; 
  width: 30em; 
  border: 1px #000 solid; 
  overflow: hidden; 
  background: #fff; 
}

.search_box .search_header { 
  border-bottom: 1px #000 dotted; 
  padding: 2px; 
}

.search_box .search_header .search_label { 
  font-weight: bold; 
}

.search_box .search_close { 
  color: #039; 
  float: right; 
}

.search_box .search_results { 
  width: 99%; 
  height: 18em; 
  overflow: auto; 
  padding: 2px; 
}

.search_box .search_results ul { 
  list-style-type: none; 
  background: #eee; 
  margin: 0 0 0 0; 
  padding: 0; 
}

.search_box .search_results ul .category { padding-left: 1em; } 
.search_box .search_results ul { font-weight: bold; } 
.search_box .search_results ul li { 
  margin: 0; 
  padding: 2px 0 2px 0; 
}

.search_box .search_results ul li ul { 
  list-style-type: decimal; 
  background: #fff; 
  padding-left: 3em; 
  font-weight: normal; 
  padding-bottom: 1em; 
}

